{% extends 'base.html' %}
{% block title %}{{ product.name }} — SportFuel{% endblock %}
{% block content %}
<h1 class="page-title">{{ product.name }}</h1>
<div class="content-card">
    {% if product.photo %}
        <img src="{{ product.photo.url }}" alt="{{ product.name }}" class="detail-img">
    {% endif %}
    <p><strong>Бренд:</strong> {{ product.brand }}</p>
    <p><strong>Категория:</strong> {{ product.category }}</p>
    <p><strong>Цена:</strong> {{ product.price }} ₽</p>
    <p><strong>Вес:</strong> {{ product.weight }} г</p>
    <p><strong>В наличии:</strong> {% if product.is_available %}Да{% else %}Нет{% endif %}</p>
    <p><strong>Вкусы:</strong> {% for f in product.flavors.all %}{{ f }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Дата добавления:</strong> {{ product.create_date }}</p>
    <br>
    <a href="{% url 'product_update' product.pk %}" class="btn btn-warning"> Редактировать</a>
    <a href="{% url 'product_delete' product.pk %}" class="btn btn-danger"> Удалить</a>
    <a href="{% url 'product_list' %}" class="btn"> Назад</a>
</div>
{% endblock %}